html {
  height: 100%
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: black url(mysterious_forest.jpg) center no-repeat;
  background-size: cover;
  /*background-color: #007733;*/
}
#map-canvas {
  height: 75%;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

ul#header {
  background-color: #CCAA88 !important;

  a {
    color: black;
    text-decoration: none;
    float: right;
  }
  a:hover {
   text-decoration: none;
   color: red;
  }
}

div.header {
  background-color: #CCAA88 !important;
}

.container{
  margin-top: 25px;
}
.brand {
  a {
    color:white !important;
    font-weight: bold;
    font-size: 1.2em
  }
}

.dropdown-toggle a {
  color: white;
}

.navbar-inverse{
  position:fixed; top:0px; margin:auto; z-index:100000; width:100%;
  height: 50px;}

  h2{
    margin-top: 100px;
    margin-left: 500px;
  }

  .new_user{
    margin-left: 500px;
  }

.dropdown{
  margin-left: 500px;
}

.main-heading {
margin: 0 auto;
text-align: center;
line-height: 1em;
}
.brand-heading {
  font-weight: normal;
  font-size: 8em;
  color: white;
  font-family: "Capsmall";
}

.brand-sub {
  font-size: 2em;
  color: white;
}

@font-face {
  font-family: "Capsmall";
  src: url("/assets/capture_smallz/Capsmall.ttf") format("truetype");
}
.main-container {
  margin: 0 auto;
  text-align: center;
}
.new-cryptid {
  h3 {
    color: #BF8D2A;
  }
  .form-box {
    margin-top: 65px;
    text-align: left;
    padding: 25px;
    label {
      color: white;
    }
    input {
      border: 2px solid #BF8D2A;
      background-color: transparent;
      color: white;
    }
    textarea {
      border: 2px solid #BF8D2A;
      background-color: transparent;
      height: 150px;
      color: white;
    }
  }

  .cryptid-list {
    margin-top: 80px;
    color: white;
  padding-left: 30px;
  ul li {
    list-style: none;
  }
  }
}
.alert {
  color: red;
}
.notice {
  color: green;
}




